@media screen and (min-width: 950px) {
  .Login {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    color: white;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 60%;
    background-image: url("/public/pic/login.jpeg");
    animation: aparecer 1s ease-in-out 1 forwards;
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0.3;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  .Login header h1 {
    align-items: center;

    width: 100%;
    margin: 20px 25px 0px 25px;
    padding: 0;
    padding: 10px;
    font-size: 4.2rem;
    font-weight: bolder;

    color: rgb(255, 255, 255);
    border-radius: 20px;
    /*font-family: "Righteous", sans-serif;*/
    font-family: "Bebas Neue", sans-serif;
  }
  .Login .Pai {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100%;
    background-color: #060608a5;
    border-right: 2px solid whitesmoke;
  }
  .Login aside {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 270px;
  }
  .Login aside p {
    margin: 15px 0px 0px 0px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s ease;
  }
  .Login aside p:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
  }
}

/* Aqui perde o background image para um com cor */
@media screen and (max-width: 949px) {
  .Login {
    display: flex;
    width: 100%;
    height: 100vh !important;
    height: 100% !important;
    margin: 0;
    color: white;
    position: absolute;
    top: 0;
    overflow: hidden !important;
    min-height: 100vh !important;
    background-image: linear-gradient(
      to bottom,
      black 5%,
      rgb(28, 24, 43),
      rgb(20, 10, 66)
    );
    animation: aparecer 1s ease-in-out 1 forwards;
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0.3;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  .Login header h1 {
    align-items: center;

    width: 100%;
    margin: 20px 25px 0px 25px;
    padding: 0;
    padding: 10px;
    font-size: 4.2rem;
    font-weight: bolder;

    color: rgb(255, 255, 255);
    border-radius: 20px;
    /*font-family: "Righteous", sans-serif;*/
    font-family: "Bebas Neue", sans-serif;
  }
  .Login .Pai {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100%;
    margin: auto !important;
    background-color: #06060883;
    border-right: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
  }
  .Login aside {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 270px;
  }
  .Login aside p {
    margin: 15px 0px 0px 0px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s ease;
  }
  .Login aside p:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
  }
}
/* Aqui diminui o pai e perde o background image para um com cor */
@media screen and (max-width: 570px) {
  .Login {
    display: flex;
    width: 100%;
    height: 100vh !important;
    height: 100%;
    margin: 0;
    color: white;
    position: absolute;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 100vh !important;

    background-position: center 60%, left 30%;
    background-image: linear-gradient(
      to bottom,
      black 5%,
      rgb(28, 24, 43),
      rgb(20, 10, 66)
    );
    animation: aparecer 1s ease-in-out 1 forwards;
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0.3;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  .Login header h1 {
    align-items: center;
    width: 200px;
    margin: 2px !important;
    padding: 0px 10px 0px 10px !important;
    font-size: 2.5rem;
    font-weight: bolder;

    color: rgb(255, 255, 255);

    text-align: center;
    border-radius: 20px;
    /*font-family: "Righteous", sans-serif;*/
    font-family: "Bebas Neue", sans-serif;
  }
  .Login .Pai {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 400px;
    height: 100%;
    margin: auto !important;
    background-color: #06060883;
    border-right: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
  }
  .Login aside {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 270px;
  }
  .Login aside p {
    margin: 15px 0px 0px 0px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s ease;
  }
  .Login aside p:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
  }
}
