@media screen and (width >= 834px) {
  .Data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: 100%;
    color: white;
    padding-right: 30px;
    background-color: #1d1c21;
    border: 2px solid white;
    border-radius: 4px;
  }

  .Data h1 {
    width: 270px;
    margin: 30px auto 0;
    font-size: 6vw;
    font-weight: normal;
    color: #9b0202;
    text-align: center;
    border-bottom: 3px solid #9b0202;
    margin-bottom: 0;
    font-family: 'Protest Strike', serif;
  }

  .DataGroup {
    display: flex;
    flex-direction: row;
  }

  .LocalUserData {
    margin-left: 5vw;
  }

  .LocalUserData h2 {
    text-wrap: nowrap;
    font-size: 3vw;
    font-weight: lighter;
    padding-left: 10px;
    color: #eee;
    background-color: #9b0202;
    font-family: 'Protest Strike', serif;
  }

  .LocalUserData h3 {
    margin-left: 3px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 2px solid white;
  }

  .LocalUserData p {
    margin-left: 3vw;
  }

  .LocalUserData p strong {
    margin-right: 8px;
  }

  .LocalUserData a {
    font-size: 1.2rem;
    font-weight: bold;
    color: #9b0202;
    margin-left: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-decoration: none;
  }

  .LocalBankData {
    margin-left: 5vw;
  }

  .LocalBankData h2 {
    font-size: 3vw;
    text-wrap: nowrap;
    font-weight: lighter;
    padding-right: 40px;
    padding-left: 10px;
    color: #eee;
    background-color: #9b0202;
    font-family: 'Protest Strike', serif;
  }

  .LocalBankData h3 {
    margin-left: 3px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 2px solid white;
  }

  .LocalBankData p {
    margin-left: 3vw;
  }

  .LocalBankData p strong {
    margin-right: 8px;
  }

  .LocalBankData a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #9b0202;
    margin-left: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-decoration: none;
  }

  .LocalBankData img {
    transform: scale(0.7);
    filter: invert(20) saturate(70);
  }
}

@media screen and (width <= 833px) {
  .Data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
    color: white;
    background-color: #1d1c21;
    border: 2px solid white;
    border-radius: 4px;
    overflow: hidden;
  }

  .Data h1 {
    width: 270px;
    font-size: 6vw;
    font-weight: normal;
    color: #9b0202;
    text-align: center;
    border-bottom: 3px solid #9b0202;
    margin-bottom: 0;
    font-family: 'Protest Strike', serif;
  }

  .GroupDatas {
    display: flex;
    flex-direction: column;
  }

  .LocalUserData {
    width: 95;
  }

  .LocalUserData h2 {
    display: flex;
    align-items: center;
    width: auto;
    height: 40px;
    font-size: 5vw;
    font-weight: lighter;
    color: #eee;
    background-color: #9b0202;
    text-wrap: nowrap;
    padding-left: 10px;
    font-family: 'Protest Strike', serif;
  }

  .LocalUserData h3 {
    margin-left: 3px;
    font-size: clamp(15px, 5vw, 5vw);
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 2px solid white;
  }

  .LocalUserData p {
    margin-left: 3vw;
    text-wrap: nowrap;
    overflow: hidden;
  }

  .LocalUserData p strong {
    margin-right: 8px;
  }

  .LocalUserData a {
    font-size: 1.2rem;
    font-weight: bold;
    color: #9b0202;
    margin-left: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-decoration: none;
  }

  .LocalBankData h2 {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 5vw;
    text-wrap: nowrap;
    font-weight: lighter;
    padding-right: 40px;
    padding-left: 10px;
    color: #eee;
    background-color: #9b0202;
    font-family: 'Protest Strike', serif;
  }

  .LocalBankData h3 {
    margin-left: 3px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 2px solid white;
  }

  .LocalBankData p {
    margin-left: 3vw;
  }

  .LocalBankData p strong {
    margin-right: 8px;
  }

  .LocalBankData a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #9b0202;
    margin-left: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-decoration: none;
  }

  .LocalBankData img {
    transform: scale(0.7);
    filter: invert(20) saturate(70);
  }
}
