.PasswordReset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.InsertPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.InsertPassword h2 {
  font-size: clamp(20px, 6vw, 6vw);
  font-weight: lighter;
  font-family: 'Protest Strike';
  color: #fff;
}

.InsertPassword p {
  font-size: clamp(10px, 3vw, 3vw);
  font-weight: lighter;
  font-family: Jura, sans-serif;
  color: #f00;
  margin-top: 0;
}

.InsertPassword input {
  width: clamp(200px, 50vw, 50vw);
  height: 30px;
  color: white;
  text-align: center;
  background-color: black;
  border: 2px solid white;
}

.InsertPassword button {
  width: clamp(100px, 30vw, 30vw);
  height: clamp(30px, 7vw, 7vw);
  font-size: clamp(20px, 5vw, 5vw);
  color: white;
  background-color: #9b0202;
  font-family: 'Bebas Neue', sans-serif;
  border: 2px solid rgb(0 0 0);
  border-radius: 10px;
  margin-top: 10px;
}

.InsertPassword a {
  justify-content: center;
  align-items: center;
  width: clamp(120px, 30vw, 30vw);
  height: clamp(30px, 6vw, 6vw);
  padding: 5px;
  font-size: clamp(20px, 4vw, 4vw);
  color: white;
  background-color: #9b0202;
  font-family: 'Bebas Neue', sans-serif;
  border: 2px solid rgb(0 0 0);
  border-radius: 10px;
  margin-top: 10px;
  text-decoration: none;
}
