@media screen and (width >= 1073px) {
  .Home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-image: linear-gradient(to bottom, #28272c, #111215);
  }

  /* Falando sobre a loja */
  .Home .Descrição {
    width: 50vw;
    height: auto;
    padding: 20px;
    color: white;
    background-color: #1d1c21;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 0;
    border: 2px solid white;
  }

  .Home h1 {
    margin-left: 20px;
    font-size: 4vw;
    color: #9b0202;
    font-family: 'Protest Strike', serif;
  }

  .Home p {
    font-size: 2vw;
    font-family: 'Courier Prime', serif;
  }

  .Home .LojaCitar {
    font-size: 3vw;
    color: #9b0202;
    font-family: 'Bebas Neue';
  }

  .Home strong {
    font-size: 2.2vw;
    color: #bfbfbf;
    font-family: 'Bebas Neue';
  }

  /* Slides de produtos  */
  .Home .Carousel {
    transform: scale(0.9);
  }
}

@media screen and (width <= 1072px) and (width >= 721px) {
  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #28272c, #111215);
  }

  /* Falando sobre a loja */
  .Home .Descrição {
    width: 70vw;
    height: auto;
    padding: 20px;
    color: white;
    background-color: #1d1c21;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 0;
    border: 2px solid white;
  }

  .Home h1 {
    margin-left: 20px;
    font-size: 5vw;
    color: #9b0202;
    font-family: 'Protest Strike', serif;
  }

  .Home p {
    font-size: 2.6vw;
    font-family: 'Courier Prime', serif;
  }

  .Home .LojaCitar {
    font-size: 3vw;
    color: #9b0202;
    font-family: 'Bebas Neue';
  }

  .Home strong {
    font-size: 2.2vw;
    color: #bfbfbf;
    font-family: 'Bebas Neue';
  }

  /* Slides de produtos  */
  .Home .Carousel {
    transform: scale(0.9);
  }
}

@media screen and (width <= 720px) {
  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #28272c, #111215);
    padding-bottom: 0 !important;
  }

  /* Falando sobre a loja */
  .Home .Descrição {
    width: 70vw;
    height: auto;
    padding: 20px;
    color: white;
    background-color: #1d1c21;
    border-radius: 20px;
    margin-top: 20px;
    border: 2px solid white;
  }

  .Home h1 {
    margin-left: 7px;
    font-size: 8vw;
    color: #9b0202;
    font-family: 'Protest Strike', serif;
  }

  .Home p {
    font-size: 4vw;
    font-family: 'Courier Prime', serif;
  }

  .Home .LojaCitar {
    font-size: 5vw;
    color: #9b0202;
    font-family: 'Bebas Neue';
  }

  .Home strong {
    font-size: 4vw;
    color: #bfbfbf;
    font-family: 'Bebas Neue';
  }

  /* Slides de produtos  */
  .Home .Carousel {
    transform: scale(0.8);
  }
}

.Home {
  padding-bottom: 100px;
}
