.Home {
  display: flex;
}

.Home nav {
  width: 500px;
  height: 50px;
  margin-top: 9px;
  display: flex;
}

.Home img {
  width: 200px;
  height: 200px;
}

.Home h1 {
  font-family: Protest Strike, sans-serif;
  font-weight: 500;
  color: #770101;
}

.Home p {
  color: #d39a9a;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  padding: 0px 18px;
}

.Home strong {
  color: rgba(189, 0, 0, 0.644);
  font-family: "Bebas Neue", sans-serif;
  text-decoration: underline;
  font-size: 2.4rem;
}

.Home section {
  background-color: #001c39;
  border: 2px solid #1e2e3f;
  border-radius: 22px;
  padding: 10px 20px;
}

.Home inside {
  display: flex;
  background-color: #001c39;
  width: 500px;
  border: 1px solid white;
  margin-top: 100px;
  height: 400px;
  flex-direction: column;
  justify-content: flex-end;
}

.Home inside div {
  display: flex;
  background-color: #770101 !important;
  height: 300px;
  margin-top: 20px;
  border-bottom: 1px solid white;
}

.Home inside section {
  width: 200px !important;
}

.Home inside section:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  width: 200px !important;
  height: 250px;
  background-color: #001c39;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.Home inside h2:nth-of-type(1) {
  font-size: 2rem;
  color: #f8f8f8;
  font-family: "Bebas Neue", sans-serif;
  text-shadow: 0px 0px 20px #a80000;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  margin: 0;
  position: relative !important;
  right: 120px;
  top: 400px;
}

.Home inside section h3 {
  font-size: 2.3rem;
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
  text-shadow: 0px 0px 10px #770101;
  margin: 0;
}

.Home inside section p {
  color: white;
  box-shadow: inset 0px 0px 20px #0000008c;
}

.Home a {
  text-decoration: none;
}

.Home a p {
  background-color: #770101;
  color: white;
  margin: 8px;
  text-decoration: none;
  opacity: 0.9;
  border-radius: 3px;
  box-shadow: inset 2px 2px 7px rgba(44, 44, 44, 0.212);
}

.Home a p:hover {
  opacity: 1;
}

/* Media Queries */
@media screen and (max-width: 504px) {
  .Home {
    flex-direction: column;
  }
  .Home nav {
    flex-direction: column;
    margin: auto;
    width: 150px;
    height: auto;
  }

  .Home section {
    max-width: 410px;
    width: auto;
    margin: auto;
    box-shadow: 4px 4px 16px 5px #00000066;
  }
  .Home h1 {
    font-size: 2rem;
  }
  .Home p {
    font-size: 1.2rem;
  }
  .Home inside p {
    font-size: 1.7rem;
    width: 100px;
  }

  .Home inside div {
    font-size: 1rem !important;
  }
  .Home strong {
    font-size: 1.8rem;
  }
  .Home inside div {
    display: flex;
    flex-direction: column;
    background-color: #770101 !important;
    height: 500px;
    margin-top: 0 !important;
  }
  .Home ul li {
    border: 2px solid white;
    background-color: transparent !important;
  }
  .Home inside {
    margin: auto;
    width: 300px;
    margin-top: 35px !important;
    border: 1px solid white !important;
    margin-bottom: 400px !important;
    justify-content: flex-start !important;
    height: auto;
    flex-direction: column-reverse;
  }
  .Home inside h2:nth-of-type(1) {
    font-size: 1.3rem;
    color: #f8f8f8;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0px 0px 20px #920000;
    background-color: #7701019b;
    padding: 10px;
    border-radius: 30px;
    text-wrap: nowrap;
    position: absolute !important;
    top: 280px;
    right: 5%;
    animation: gradual 6s infinite;
    cursor: pointer;
  }
  @keyframes gradual {
    0% {
      background-color: #7701019b;
    }
    10% {
      background-color: #8f00009b;
    }
    20% {
      background-color: #8401019b;
    }
    30% {
      background-color: #8b01019b;
    }
    40% {
      background-color: #9400009b;
    }
    50% {
      background-color: #ab01019b;
    }
    60% {
      background-color: #9400009b;
    }
    70% {
      background-color: #8b01019b;
    }
    80% {
      background-color: #8401019b;
    }
    90% {
      background-color: #8f00009b;
    }
    100% {
      background-color: #7701019b;
    }
  }
}

.Home inside section h3 {
  /*Preço do produtos*/
  font-size: 1.8rem;
  padding-top: 10px;
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
  text-shadow: 0px 0px 10px #770101;
  text-shadow: 0px 0px 10px rgba(201, 6, 6, 0.995);
  margin: 0;
  z-index: 100;
}
.Home inside section {
  height: 150px !important;
  z-index: 110;
  border: 2px solid white;
  backdrop-filter: blur(8px);
  margin-top: 20px !important;
}
.Home inside div img {
  position: relative;
  margin: 0px auto;
  width: 295px !important;
  height: 295px !important;
}
.Home inside div section p {
  font-size: 1.1rem !important;
  padding: 10px;
  border: 1px solid white;
  margin: 0 !important;
}

@media screen and (min-width: 505px) and (max-width: 710px) {
  .Home {
    flex-direction: column;
  }
  .Home section {
    max-width: 410px;
    width: auto;
    margin: auto;
    box-shadow: 4px 4px 16px 5px #00000066;
  }
  .Home h1 {
    font-size: 2rem;
  }
  .Home p {
    font-size: 1.2rem;
  }
  .Home inside p {
    font-size: 2rem;
  }
  .Home inside div {
    font-size: 1rem !important;
  }
  .Home strong {
    font-size: 1.8rem;
  }
  .Home inside div {
    display: flex;
    background-color: #770101 !important;
    height: 500px;
    margin-top: 20px;
  }
  .Home ul li {
    border: 2px solid white;
  }
  .Home inside {
    margin: auto;
    margin-top: 35px !important;
    border: 1px solid white !important;
    margin-bottom: 400px !important;
    justify-content: flex-start !important;
    height: auto;
  }
  .Home inside h2:nth-of-type(1) {
    font-size: 2rem;
    color: #f8f8f8;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0px 0px 20px #920000;
    background-color: #7701019b;
    padding: 10px;
    border-radius: 30px;
    text-wrap: nowrap;
    position: absolute !important;
    top: 280px;
    right: 20%;
    animation: gradual 6s infinite;
    cursor: pointer;
  }
  @keyframes gradual {
    0% {
      background-color: #7701019b;
    }
    10% {
      background-color: #8f00009b;
    }
    20% {
      background-color: #8401019b;
    }
    30% {
      background-color: #8b01019b;
    }
    40% {
      background-color: #9400009b;
    }
    50% {
      background-color: #ab01019b;
    }
    60% {
      background-color: #9400009b;
    }
    70% {
      background-color: #8b01019b;
    }
    80% {
      background-color: #8401019b;
    }
    90% {
      background-color: #8f00009b;
    }
    100% {
      background-color: #7701019b;
    }
  }
  .Home inside section h3 {
    /*Preço do produtos*/
    font-size: 1.8rem;
    padding-top: 10px;
    color: #ffffff;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0px 0px 10px #770101;
    text-shadow: 0px 0px 10px rgba(201, 6, 6, 0.995);
    margin: 0;
    z-index: 100;
  }
  .Home inside section {
    height: 120px !important;
    padding-left: 200px;
    padding-right: 200px;
    z-index: 110;
    border: 2px solid white;
    background-color: transparent !important;
    backdrop-filter: blur(8px);
    margin-top: 320px !important;
  }
  .Home inside div img {
    position: absolute;
    right: 4%;
    width: 460px !important;
    height: 460px !important;
  }
  .Home inside div section p {
    font-size: 1.1rem !important;
    padding: 10px;
    border: 1px solid white;
  }
}

@media screen and (min-width: 710px) and (max-width: 1159px) {
  .Home {
    flex-direction: column;
  }
  .Home section {
    width: auto;
    margin: 24px 45px 0px 45px;
    box-shadow: 4px 4px 16px 5px #00000066;
  }
  .Home h1 {
    font-size: 2.3rem;
  }
  .Home p {
    font-size: 1.4rem;
  }
  .Home inside p {
    font-size: 2rem;
  }
  .Home inside div {
    font-size: 1rem !important;
  }
  .Home strong {
    font-size: 1.8rem;
  }
  .Home inside div {
    display: flex;
    background-color: #770101 !important;
    height: 300px;
    margin-top: 20px;
    border-bottom: 1px solid white;
  }
  .Home ul li {
    border-top: 1px solid white;
  }
  .Home inside {
    margin: auto;
    margin-top: 35px !important;
    justify-content: flex-start !important;
    margin-bottom: 400px !important;
  }
  .Home inside h2:nth-of-type(1) {
    font-size: 3rem;
    color: #f8f8f8;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0px 0px 20px #a80000;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    text-wrap: nowrap;
    position: absolute !important;
    top: 280px;
    cursor: pointer;
  }
  .Home inside section h3 {
    /*Preço do produtos*/
    font-size: 2.3rem;
    color: #ffffff;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0px 0px 10px #770101;
    margin: 0;
  }
}
@media screen and (min-width: 1160px) and (max-width: 1367px) {
  .Home section {
    max-width: 500px;
    width: auto;
    margin: 24px 45px 0px 45px;
    box-shadow: 4px 4px 16px 5px #00000066;
  }
  .Home h1 {
    font-size: 2.3rem;
  }
  .Home p {
    font-size: 1.4rem;
  }
  .Home inside p {
    font-size: 2rem;
  }
  .Home inside div {
    font-size: 1rem !important;
  }
  .Home strong {
    font-size: 1.8rem;
  }
  .Home inside div {
    display: flex;
    background-color: #770101 !important;
    height: 300px;
    margin-top: 20px;
    border-bottom: 1px solid white;
  }
  .Home ul li {
    border-top: 1px solid white;
  }
  .Home inside {
    margin: auto;
    margin-top: 35px !important;
    justify-content: flex-start !important;
  }
  .Home inside h2:nth-of-type(1) {
    font-size: 3rem;
    color: #f8f8f8;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0px 0px 20px #a80000;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    margin: 0;
    position: absolute !important;
    top: 280px;
    right: 280px;
  }
  .Home inside section h3 {
    /*Preço do produtos*/
    font-size: 2.3rem;
    color: #ffffff;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0px 0px 10px #770101;
    margin: 0;
  }
}

@media screen and (min-width: 1367px) {
  .Home inside div {
    display: flex;
    background-color: #770101 !important;
    height: 300px;
    margin-top: 20px;
    border-bottom: 1px solid white;
  }
  .Home ul li {
    border-top: 1px solid white;
  }
  .Home inside {
    margin: auto;
    margin-top: 35px !important;
    justify-content: flex-start !important;
  }
  .Home inside h2:nth-of-type(1) {
    font-size: 3rem;
    color: #f8f8f8;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0px 0px 20px #a80000;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    margin: 0;
    position: absolute !important;
    top: 280px;
    right: 200px;
  }
  .Home inside section h3 {
    font-size: 2.3rem;
    color: #ffffff;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0px 0px 10px #770101;
    margin: 0;
  }
  .Home section {
    max-width: 700px;
    width: auto;
    margin: 24px 45px 0px 45px;
    box-shadow: 4px 4px 16px 5px #00000066;
  }
  .Home h1 {
    font-size: 3rem;
  }
  .Home p {
    font-size: 2rem;
  }
  .Home strong {
    font-size: 2.4rem;
  }
}
