.Categories {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

@media screen and (width <= 640px) {
  .Categories {
    margin-top: 195px;
  }
}

.Navigation {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 80%;

  padding-left: 30px;
  height: 40px;
  padding-top: 8px;
  padding-right: 30px;
  padding-bottom: 5px;
  background-color: #03091a;
  gap: 20px;
  flex-wrap: nowrap;
  padding-bottom: 5px;
  overflow-x: scroll;
  margin-bottom: 20px;
}

@media screen and (width <= 710px) {
  .Navigation {
    top: 106px !important;
    z-index: 999;
  }
  .Categories {
    margin-top: 160px;
  }
}
@media screen and (width > 710px) {
  .Navigation {
    top: 55px !important;
  }
  .ChildrenContainer {
    height: calc(100vh - 189px) !important;
  }
}
@media screen and (width > 640px) and (width < 710px) {
  .ChildrenContainer {
    height: calc(100vh - 249px) !important;
  }
}
@media screen and (width <= 640px) {
  .Categories {
    margin-top: 190px;
  }
  .Categories .ChildrenContainer {
    height: calc(100vh - 279px) !important;
  }
}
.Navigation button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  color: white;
  background-color: transparent;
  min-width: 100px;
  border: 2px solid white;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Protest Strike', sans-serif;
  white-space: nowrap;
  transition: 0.3s ease;
  cursor: pointer;
}
.Navigation button:active {
  background-color: rgba(32, 15, 110, 0.507);
}
.Navigation button:hover {
  transform: scale(1.1);
}
.Navigation::-webkit-scrollbar {
  width: 100px;
  height: 1px;
  background-color: #ffffff;
  border-radius: 0px;
}
.Navigation::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}
.TitleCategory p {
  margin: 0px;
  font-size: 1.7rem;
  font-family: 'Protest Strike';
  color: white;
  white-space: nowrap;
  cursor: default;
}

.TitleCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 50px;
  margin: 15px 0px 15px 0px;
  color: wheat;
  border-radius: 0px 10px 10px 0px;
  padding-top: 5px;
  background-color: #3d0303;
  border: 2px solid #1b0202;
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow-x: scroll;
}
.TitleCategory::-webkit-scrollbar {
  width: 40px;
  height: 10px;
  background-color: #3d0303;
}
.TitleCategory::-webkit-scrollbar-thumb {
  background-color: #1b0202;
}
@media screen and (width < 625px) {
  .TitleCategory {
    width: clamp(100px, 50vw, 400px);
    margin: 15px auto;
    border-radius: 10px !important;
  }
}
.ChildrenContainer {
  display: flex;
  gap: 10px;
  height: 100%;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.ChildrenContainer::-webkit-scrollbar {
  width: 9px;
  background-color: #03091a;
}
.ChildrenContainer::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
}
