@media screen and (width <= 909px) {
  .Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    height: 232px !important;
    max-height: 300px;
    margin: 5px;
    background-color: #111111 !important;
    overflow: hidden;
  }
  .Card img {
    width: 150px;
    height: 150px;
  }

  .Card .InfoCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    margin: 0px !important;
    padding: 0px;

    flex-wrap: nowrap;
  }

  .InfoCard p {
    display: block !important;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 0px auto;
    padding: 0px 4px;
    font-size: 1.2rem;
    font-weight: normal;
    color: rgb(255, 255, 255) !important;
    line-height: 40px;
    font-family: 'Protest Strike', sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
  }
  .InfoCard section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 44px;
    background-color: #0a0546;
  }
  .InfoCard h2 {
    display: flex;
    align-items: center;
    width: auto !important;
    max-width: 100px;
    overflow: hidden;
    margin: 0px !important;
    padding-left: 3px;
    font-size: 1.67rem;
    color: gold !important;
  }
  .InfoCard button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0px;
    border-radius: 7px;
    border: 1px solid white;
    background-color: #3d0303;
    transition: ease 0.3s;
    overflow: hidden;
  }
  .InfoCard button img {
    width: 27px;
    height: 27px;
  }
  .InfoCard button:hover {
    transform: scale(1.06);
  }
}

@media screen and (width >= 910px) {
  .Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px !important;
    max-width: 250px;
    height: 330px !important;
    max-height: 330px;
    margin: 5px;
    background-color: #111111 !important;
    overflow: hidden;
  }
  .Card img {
    width: 250px;
    height: 250px;
  }
  .LinksCard {
    display: flex !important;
    width: 250px !important;
    max-width: 250px !important;
    height: 250px !important;
    max-height: 250px !important;
  }

  .Card .InfoCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    margin: 0px !important;
    padding: 0px;

    flex-wrap: nowrap;
  }

  .InfoCard p {
    display: block !important;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 0px auto;
    padding: 0px 4px;
    font-size: 1.2rem;
    font-weight: normal;
    color: rgb(255, 255, 255) !important;
    line-height: 40px;
    font-family: 'Protest Strike', sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
  }
  .InfoCard section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 44px;
    background-color: #0a0546;
  }
  .InfoCard h2 {
    display: flex;
    align-items: center;
    width: auto !important;
    max-width: 100px;
    overflow: hidden;
    margin: 0px !important;
    padding-left: 3px;
    font-size: 1.67rem;
    color: gold !important;
  }
  .InfoCard button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0px;
    border-radius: 7px;
    border: 1px solid white;
    background-color: #3d0303;
    transition: ease 0.3s;
    overflow: hidden;
  }
  .InfoCard button img {
    width: 27px;
    height: 27px;
  }
  .InfoCard button:hover {
    transform: scale(1.06);
  }
}

.Card {
  height: auto;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 72.6%);
  border: 1px solid rgba(245, 245, 245, 0.541);
  transition: 0.8s ease;
  border-radius: 10px;
}

.Card h2 {
  margin-top: 1px;
  font-weight: bolder;
  font-family: 'Bebas Neue', sans-serif;
  color: #9b0202;
}

.Card p {
  font-weight: normal;
  font-family: 'Protest Strike', sans-serif;
  color: #121113;
}
.Card img {
  cursor: pointer;
}
.Card button {
  cursor: pointer;
}

.LinksCard {
  width: auto;
  max-width: 150px;
  height: auto;
  max-height: 150px;
  margin: 0px;
  padding: 0px;
}
