.Search {
  display: flex;
  width: 220px;
  height: 45px;
  color: white;
  background-color: #03091a;
  position: fixed;
  font-family: 'Plus Jakarta Sans', sans-serif;
  padding-left: 10px;
  border-radius: 0px 0px 10px 10px;
  top: 120px;
  z-index: 1000;
  border-top: 1px solid #03091a;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.Search:focus {
  outline: none;
}
@media screen and (width >= 711px) {
  .Search {
    top: 107px !important;
    width: 300px;
    right: 30px !important;
  }
  .SearchDelete {
    top: 112px !important;
    right: 40px !important;
  }
}
@media screen and (width <= 710px) and (width > 640px) {
  .Search {
    top: 158px !important;
    width: 300px;
    right: 30px !important;
  }
  .SearchDelete {
    top: 165px !important;
    right: 40px !important;
  }
}
@media screen and (width <= 640px) {
  .Search {
    top: 158px !important;
    width: 100%;
    border-right: 2px solid #03091a;
    border-bottom: 2px solid;
    border-left: 2px solid #03091a;
    border-radius: 0px;
  }
  .SearchDelete {
    top: 165px !important;
    right: 10px !important;
  }
}
.Search::placeholder {
  display: flex;
  font-weight: normal;
  color: white;
  font-family: 'Protest Strike', sans-serif;
}
.Search::-webkit-search-cancel-button {
  display: none;
}
.SearchDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: white;
  position: fixed;
  background-color: #03091a;
  overflow: hidden;
  border-radius: 10px;
  top: 127px;
  cursor: pointer;
  z-index: 1000;
  border: 2px solid #ffffff86;
  transition: 0.3s ease;
}
.SearchDelete:hover {
  transform: scale(1.07);
}
.SearchDelete img {
  position: absolute;
  bottom: 4px;
  width: 20px;
  height: 20px;
  filter: contrast(0) brightness(60);
  transform: scale(3.5);
}
