@media screen and (min-width: 1271px) {
  .Product {
    display: flex;
    padding-top: 70px;

    height: 100vh; /* Altura da tela */
  }

  .Product figure {
    width: 300px;
    height: 300px;
  }
  .Product img {
    width: 300px;
    height: 300px;
  }

  .Product article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #7c0a0a;
    border-radius: 20px;
    width: 300px;
    height: 260px;
    margin-left: 40px;
  }
  .Product article h1 {
    color: aliceblue;
    margin: 10px auto;
  }
  .Product button {
    width: 130px;
    height: 45px;
    margin: 20px auto;
    background-color: rgb(29, 245, 0);
    color: white;
  }

  .Product article p:nth-of-type(1) {
    font-size: 2rem;
    margin: 0;
    color: white;
    background-color: #500808;
    padding: 6px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.493);
  }
  .Product article p:nth-of-type(2) {
    font-size: 1rem;
    color: rgb(255, 255, 255);
  }
  .Product article h2 {
    display: none;
  }
  .Product article p:nth-of-type(3) {
    display: none;
  }
  .Product section {
    color: rgb(255, 255, 255);
    width: auto;
    max-width: 700px;
    height: 400px;
    margin-top: 60px;
  }
  .Product section p {
    font-size: 1rem;
  }
  .Product section strong {
    font-size: 2.1rem;
    color: #7c0a0a;
  }
}
.Product nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 70px auto;
  padding: 20px;
  height: 220px;
}

.Product nav a:hover {
  transform: scale(1.1);
}
.Product nav:hover a:not(:hover) {
  opacity: 0.8;
}
.Product nav a {
  background-color: #7c0a0a;
  color: white;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: ease 0.3s;
}
.Product article button {
  cursor: pointer;
  transition: ease 0.3s;
  animation: compra 3s infinite;
}

.Product article button:hover {
  transform: scale(1.1);
  text-shadow: 0px 0px 18px white;
  box-shadow: 0px 0px 8px white;
  animation: aparecer 1s ease-in-out 1 forwards;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 987px) and (max-width: 1270px) {
  .Product {
    display: flex;
    padding-top: 70px;

    height: 100vh; /* Altura da tela */
  }

  .Product figure {
    width: 200px;
    height: 200px;
  }
  .Product img {
    width: 200px;
    height: 200px;
  }

  .Product article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #7c0a0a;
    border-radius: 20px;
    width: 200px;
    height: 210px;
    margin-left: 40px;
  }
  .Product article h1 {
    font-size: 1rem;
    color: aliceblue;
    margin: 10px auto;
  }
  .Product button {
    width: 100px;
    height: 35px;
    margin: 20px auto;
    background-color: rgb(29, 245, 0);
    color: white;
  }
  .Product article p:nth-of-type(1) {
    font-size: 1.7rem;
    margin: 0;
    color: white;
    background-color: #500808;
    padding: 6px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.493);
  }
  .Product article p:nth-of-type(2) {
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
  }
  .Product article h2 {
    display: none;
  }
  .Product article p:nth-of-type(3) {
    display: none;
  }
  .Product section {
    color: rgb(255, 255, 255);
    width: 530px;
    height: 400px;
    margin-top: 60px;
  }
  .Product section strong {
    font-size: 2.1rem;
    color: #7c0a0a;
  }
  .Product section p {
    font-size: 0.9rem;
  }
  .Product nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 70px auto;
    padding: 20px;
    height: 220px;
  }
  .Product nav a {
    background-color: #7c0a0a;
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
  }
}
@media screen and (min-width: 817px) and (max-width: 986px) {
  .Product {
    display: flex;
    padding-top: 70px;
    flex-wrap: wrap;

    height: 100vh; /* Altura da tela */
  }
  .Product aside {
    display: flex;
    margin-bottom: 0;
  }
  .Product figure {
    width: 400px;
    height: 400px;
  }
  .Product img {
    width: 400px;
    height: 400px;
  }

  .Product article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #7c0a0a;
    border-radius: 20px;
    width: auto;
    max-width: 350px;
    height: 410px;
    margin: 0 30px 0px 10px;
    padding: 10px;
  }
  .Product article h1 {
    font-size: 1.1rem;
    color: aliceblue;
    margin: 10px auto;
  }
  .Product button {
    width: 150px;
    height: 45px;
    margin: 5px auto;
    background-color: rgb(29, 245, 0);
    color: white;
  }
  .Product article p:nth-of-type(1) {
    font-size: 1.7rem;
    width: auto;
    max-width: 200px;
    color: white;
    background-color: #500808;
    padding: 6px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.493);
  }
  .Product article p:nth-of-type(2) {
    margin: 0px 85px 0px 85px;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
  }
  .Product article h2 {
    color: white;
    margin: 0;
  }
  .Product article p:nth-of-type(3) {
    color: white;
    margin-top: 0;
    white-space: inherit;
    overflow: hidden;
  }

  .Product section {
    position: relative;
    display: flex;
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    padding: 40px;
  }
  .Product section h2 {
    display: none;
  }
  .Product section h3 {
    display: none;
  }
  .Product section strong {
    display: none;
    font-size: 2.1rem;
    color: #7c0a0a;
  }
  .Product section p:nth-of-type(2) {
    font-size: 0.9rem;
    color: aqua;
  }
  .Product section p:nth-of-type(2) {
    display: none;
  }
  .Product nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 auto;
    padding: 20px;

    width: 600px;
  }
  .Product nav a {
    background-color: #7c0a0a;
    color: white;
    text-align: center;
    border-radius: 8px;
    margin-inline: 5px;
    height: 20px;
    width: 300px;
    padding: 10px;
  }
}
@media screen and (min-width: 715px) and (max-width: 816px) {
  .Product {
    display: flex;
    padding-top: 70px;
    flex-wrap: wrap;

    height: 100vh; /* Altura da tela */
  }
  .Product aside {
    display: flex;
    margin-bottom: 0;
  }
  .Product figure {
    width: 400px;
    height: 400px;
  }
  .Product img {
    width: 400px;
    height: 400px;
  }

  .Product article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #7c0a0a;
    border-radius: 20px;
    width: auto;
    max-width: 350px;
    height: 410px;
    margin: 0 30px 0px 10px;
    padding: 10px;
  }
  .Product article h1 {
    font-size: 1.2rem;
    color: aliceblue;
    margin: 5px auto;
    text-align: center;
  }
  .Product button {
    width: 120px;
    height: 40px;
    margin: 10px auto;
    background-color: rgb(29, 245, 0);
    color: white;
  }
  .Product article p:nth-of-type(1) {
    font-size: 1.7rem;
    width: auto;
    max-width: 200px;
    color: white;
    background-color: #500808;
    padding: 6px;
    border-radius: 10px;
    margin: 10px 0px;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.493);
  }
  .Product article p:nth-of-type(2) {
    margin: 0px 85px 0px 85px;
    font-size: 0.7rem;
    margin: 3px 0px;
    width: 130px;
    color: rgb(255, 255, 255);
  }
  .Product article h2 {
    color: white;
    margin: 0;
  }
  .Product article p:nth-of-type(3) {
    color: white;
    margin-top: 0;
    height: 120px;
    white-space: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .Product section {
    position: relative;
    display: flex;
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    padding: 40px;
  }
  .Product section h2 {
    display: none;
  }
  .Product section h3 {
    display: none;
  }
  .Product section strong {
    display: none;
    font-size: 2.1rem;
    color: #7c0a0a;
  }
  .Product section p:nth-of-type(2) {
    font-size: 0.9rem;
    color: aqua;
  }
  .Product section p:nth-of-type(2) {
    display: none;
  }
  .Product nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 auto;
    padding: 20px;

    width: 600px;
  }
  .Product nav a {
    background-color: #7c0a0a;
    color: white;
    text-align: center;
    border-radius: 8px;
    margin-inline: 5px;
    height: 20px;
    width: 300px;
    padding: 10px;
  }
}
@media screen and (min-width: 551px) and (max-width: 714px) {
  .Product {
    display: flex;
    flex-direction: row;
    padding-top: 70px;
    flex-wrap: nowrap;

    height: 100vh; /* Altura da tela */
  }
  .Product aside {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    width: 230px;
  }
  .Product figure {
    width: 300px;
    height: 300px;
  }
  .Product img {
    width: 300px;
    height: 300px;
  }

  .Product article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #7c0a0a;
    border-radius: 20px;
    width: 480px;
    max-width: 580px;
    margin-left: 40px;
    margin-top: 5px;
    height: 210px;

    padding: 13px;
  }
  .Product article h1 {
    font-size: 1.3rem;
    color: aliceblue;
    margin: 10px auto;
    text-align: center;
  }
  .Product button {
    width: 200px;
    height: 55px;
    font-size: 1.5rem;
    margin: 0 auto;
    background-color: rgb(29, 245, 0);
    color: white;
  }
  .Product article p:nth-of-type(1) {
    font-size: 1.8rem;
    width: auto;
    max-width: 400px;
    color: white;
    background-color: #500808;
    padding: 6px;
    border-radius: 10px;
    margin: 10px 0px;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.493);
  }
  .Product article p:nth-of-type(2) {
    margin: 0px 85px 0px 85px;
    font-size: 1.5rem;
    margin: 3px 4px;
    width: 130px;
    color: rgb(255, 255, 255);
  }
  .Product article h2 {
    display: flex;
    position: absolute;
    top: 700px;
    left: 40px;
    color: white;
  }
  .Product article p:nth-of-type(3) {
    display: flex;
    position: absolute;
    top: 750px;
    color: white;
    left: 40px;
    margin-right: 40px;
  }
  .Product section {
    display: none;
    color: rgb(255, 255, 255);
    width: 530px;
    height: 400px;
    margin-top: 60px;
  }
  .Product section strong {
    font-size: 2.1rem;
    color: #7c0a0a;
  }
  .Product section p {
    font-size: 0.9rem;
  }
  .Product nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px 0 0 110px !important;
    padding: 5px 10px 10px 10px;

    width: 300px;
  }
  .Product nav a {
    background-color: #7c0a0a;
    color: white;
    text-align: center;
    border-radius: 8px;
    margin-inline: 5px;
    height: 20px;
    width: 130px;
    padding: 10px;
  }
}
@media screen and (max-width: 550px) {
  .Product {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 0px;
    height: 100vh; /* Altura da tela */
  }
  .Product aside {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    width: 230px;
  }
  .Product figure {
    width: 200px;
    height: 200px;
  }
  .Product img {
    width: 200px;
    height: 200px;
  }

  .Product article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #7c0a0a;
    border-radius: 20px;
    width: auto;
    max-width: 180px;
    margin-left: 40px;
    height: 230px;

    padding: 10px;
  }
  .Product article h1 {
    font-size: 1.1rem;
    color: aliceblue;
    margin: 5px auto;
    text-align: center;
  }
  .Product button {
    width: 100px;
    height: 35px;
    margin: 10px auto;
    background-color: rgb(29, 245, 0);
    color: white;
  }
  .Product article p:nth-of-type(1) {
    font-size: 1.7rem;
    width: auto;
    max-width: 200px;
    color: white;
    background-color: #500808;
    padding: 6px;
    border-radius: 10px;
    margin: 10px 0px;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.493);
  }
  .Product article p:nth-of-type(2) {
    margin: 0px 85px 0px 85px;
    font-size: 0.7rem;
    margin: 3px 0px;
    width: 130px;
    color: rgb(255, 255, 255);
  }
  .Product article h2 {
    display: none;
  }
  .Product article p:nth-of-type(3) {
    display: none;
  }
  .Product section {
    display: none;
    color: rgb(255, 255, 255);
    width: 530px;
    height: 400px;
    margin-top: 60px;
  }
  .Product section strong {
    font-size: 2.1rem;
    color: #7c0a0a;
  }
  .Product section p {
    font-size: 0.9rem;
  }
  .Product nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 0 0 0 40px !important;
    width: 130px;
    gap: 7px;
  }
  .Product nav a {
    background-color: #7c0a0a;
    color: white;
    text-align: center;
    border-radius: 8px;
    margin-inline: 5px;
    height: 20px;
    width: 130px !important;
    padding: 10px;
  }
}
.Product {
  background-color: rgb(23 23 47 / 89%) !important;
}
