@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Righteous&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bowlby+One&family=Kode+Mono:wght@400..700&family=Righteous&family=Rubik+Mono+One&display=swap');

/*Regras de reponsividade do Header*/
@media screen and (max-width: 600px) {
    .Header span {
        font-size: 1rem;
        nav a:nth-of-type(1) {
            color: white;
            width: 100px;
            padding: 10px;
            text-decoration: none;
            padding-inline: 2.3rem;
            transform: scale(0.4);
        }
    }
    .Header nav a:nth-of-type(1) {
        color: white;
        width: 100px;
        padding: 10px;
        text-decoration: none;
        padding-inline: 2.3rem;
        transform: scale(0.5);
    }
    .Header nav a:nth-of-type(2) {
        color: white;
        width: 100px;
        padding: 10px;
        text-decoration: none;
        padding-inline: 2.3rem;
        transform: scale(0.4);
    }
}


/*-------------*/

@media screen and (min-width: 601px){
    .Header span {
        font-size: 2rem;
    }
    .Header nav a:nth-of-type(1) {
        color: white;
        width: 100px;
        padding: 10px;
        text-decoration: none;
        padding-inline: 2.3rem;
        transform: scale(0.7);
    }
    .Header nav a:nth-of-type(2) {
        color: white;
        width: 100px;
        padding: 10px;
        text-decoration: none;
        padding-inline: 2.3rem;
        transform: scale(0.6);
    }
}
/*--------------------------------------------*/






.Header {
    background-color: rgba(0, 2, 133, 0.855);
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    z-index: 1000;
    border-bottom: 2px solid white;
}

/*Botões do Nav, Casinha e Carrinho*/
.Header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    margin-left: auto;
    margin-right: 1em;
    text-align: center;
    height: 44px;
}


/*--------------------------------------*/



.Header img {
    transition: 0.6s ease;
}
.Header a:nth-of-type(2) {
    padding-left: 0;
}


.Header img:hover{
    transform: scale(1.2);


}
.Header input {
    background-color: rgba(0, 2, 133, 0.855);
    border: 1px solid rgba(255, 255, 255, 0.493);
    margin-left: 570px;
    width: 450px;
    color: white;
    padding: 10px;
}
.Header span {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    margin-left: 1.6rem;
    margin-bottom: -9px;
    width: 700px;
    align-items: center;
    /*font-family: "Righteous", sans-serif;*/
    font-family: "Bebas Neue", sans-serif;
    font-weight: bolder;
    padding: 0;
    margin: 0; 
}
.Header span a {
    color: aliceblue;
    text-decoration: none;
    padding: 0;
    margin: 0;
    height: 0px;
}
.Header h1 {
    margin: 2px 0px 0px 20px;
    padding-bottom: 0;
}


