/*Regras de reponsividade do Header*/
@media screen and (max-width: 710px) {
  .Header nav a:nth-of-type(1) {
    color: white;
    width: auto;
    text-decoration: none;

    transform: scale(0.5);
  }
  .Header nav a:nth-of-type(2) {
    color: white;
    width: auto;

    text-decoration: none;

    transform: scale(0.3);
  }
  .Header nav a:nth-of-type(3) {
    color: white;
    width: auto;
    padding: 10px;
    text-decoration: none;

    transform: scale(0.4);
  }
  .Header nav a:nth-of-type(4) {
    color: white;
    width: auto;

    text-decoration: none;

    transform: scale(0.3) !important;
  }

  .Header span {
    display: block;
    width: auto !important;
    font-size: 2rem;
    margin: 10px !important;
  }
  .Header {
    flex-direction: column;
  }
  .Header nav {
    margin: auto !important;
    justify-content: center !important;
  }
}
/*-------------*/

@media screen and (min-width: 711px) {
  .Header span {
    font-size: 3rem;
  }
  .Header nav {
    width: auto !important;
    margin-right: 40px !important;
    justify-content: space-evenly !important;
    gap: 10px;
  }
  .Header nav a:nth-of-type(1) {
    color: white;
    width: auto;
    padding: 10px;
    text-decoration: none;
    padding-inline: 1rem;
    transform: scale(0.7);
  }
  .Header nav a:nth-of-type(2) {
    color: white;
    width: auto;
    padding: 10px;
    text-decoration: none;
    padding-inline: 0.3rem;
    transform: scale(0.42);
  }
  .Header nav a:nth-of-type(3) {
    display: flex;
    justify-content: center;
    color: white;
    width: 30px;
    padding: 10px;
    text-decoration: none;
    padding-inline: 2rem;
    transform: scale(0.56);
  }

  .Header nav a:nth-of-type(4) {
    display: flex;
    justify-content: center;
    color: white;
    width: 30px;
    padding: 10px;
    text-decoration: none;
    padding-inline: 2.3rem;
    transform: scale(0.5);
  }
}
/*--------------------------------------------*/

.Header {
  background-color: rgb(23 23 47 / 89%);
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  z-index: 1000;
  border-bottom: 2px solid white;
}

/*Botões do Nav, Casinha e Carrinho*/
.Header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 220px;
  margin-left: auto;
  margin-right: 1em;
  text-align: center;
  height: 44px;
}

/*--------------------------------------*/

.Header img {
  transition: 0.6s ease;
}
.Header a:nth-of-type(2) {
  padding-left: 0;
}

.Header img:hover {
  transform: scale(1.2);
}
.Header input {
  background-color: rgba(0, 2, 133, 0.855);
  border: 1px solid rgba(255, 255, 255, 0.493);
  margin-left: 570px;
  width: 450px;
  color: white;
  padding: 10px;
}
.Header span {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  margin-left: 1.6rem;
  margin-bottom: -9px;
  width: 700px;
  align-items: center;
  /*font-family: "Righteous", sans-serif;*/
  font-family: "Bebas Neue", sans-serif;
  font-weight: bolder;
  padding: 0;
  margin: 0px 0px 0px 15px;
}
.Header span a {
  color: aliceblue;
  text-decoration: none;
  padding: 0;
  margin: 0;
  height: 0px;
}
.Header h1 {
  margin: 2px 0px 0px 20px;
  padding-bottom: 0;
}
