.Logar {
  opacity: 0;
  animation: aparecer 0.4s ease 1 forwards;
}
@keyframes aparecer {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.Logar div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Logar input {
  width: 230px;
  height: 22px;
  border-radius: 3px;
}
.Logar label {
  padding: 5px 0px 10px 0px;
}
.Logar nav {
  display: flex;
  justify-content: center;
  margin: 10px 0px 0px 0px;
}
.Logar nav button {
  height: 28px;
  background-color: brown;
  color: white;
  border: 1px solid rgb(49, 0, 0);
  border-radius: 5px;
  width: 100px;
  transition: 0.3s ease;
}
.Logar nav button:hover {
  transform: scale(1.1);
}

.Msgerror {
  visibility: hidden;
  margin: 0px 0px 10px 0px !important;
  color: red;
  position: relative;
  padding: 0px;
  margin: 0px 0px 14px 0px;
  margin-right: 50px;
}
@media screen and (max-width: 570px) {
  .Msgerror {
    font-size: 0.7rem !important;
  }
}
