@media screen and (min-width: 1152px) {
  /* Link encobrindo todo elemento */
  .Carroseul a {
    text-decoration: none;
  }
  .Carroseul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 700px;
    height: 100%;
    max-height: 500px;
    margin: 0;
    background-color: #4b4a50;
    box-shadow: inset 0px 0px 15px rgb(0, 0, 0);
  }

  /* Recebe <a> + <p> */
  .Carroseul nav {
    display: flex;
    justify-content: center;
    gap: 30px;

    width: 80%;
    margin: 10px 0px 0px 0px;
  }
  .Carroseul nav p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    background-color: #9b0202;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.486),
      inset 0px 0px 6px rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    transition: 0.3s ease;
  }
  .Carroseul nav p:hover {
    transform: scale(1.1);
  }

  .Carroseul ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px !important;
    width: auto !important;
  }

  /* Recebe img e section (Nome e Valor) */
  .Carroseul div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 630px;
    height: 300px;
    margin: auto;
    padding: 0px 0px;
    background-image: linear-gradient(to right, #9b0202, #630808);
    border: 1px solid white;
  }

  /* Imagem */
  .Carroseul div img {
    transform: scale(1.2);
  }

  /* Encobre Valor e Nome */
  .Carroseul section {
    display: flex;
    flex-direction: column;
    width: 300px !important;
    height: 95%;
    margin: 0px 0px 0px 35px;
    background-color: #1d1c21;
    border-radius: 10px;
  }

  /* Nome */
  .Carroseul section p {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    height: auto;
    padding: 20px 0px;
    font-size: 1.4rem !important;
    color: rgb(255, 255, 255);
    background-color: #9b0202;
    box-shadow: inset 0px 0px 15px black;
    font-family: "Protest Strike", serif;
    flex-wrap: nowrap;
    text-shadow: 0px 0px 10px white;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid white;
  }

  /* Valor */
  .Carroseul section h3 {
    height: 50px;
    margin: 0;
    font-size: 3rem;

    color: white;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0px 0px 5px white;
  }
  .Carroseul section a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    margin: 0 !important;
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: #e1c000;
    box-shadow: 0px 0px 7px white;
    font-family: "Bebas Neue", sans-serif;
    border-radius: 5px;
    text-shadow: 0px 0px 2px white;
    transition: 0.3s ease;
  }
  .Carroseul section a:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px white;
    text-shadow: 0px 0px 4px white;
  }
  /* Fontes importadas
font-family: "Plus Jakarta Sans", sans-serif;
font-family: "Bebas Neue", sans-serif;
font-family: "Jura", sans-serif;
font-family: "Protest Strike", serif;
font-family: "Courier Prime", serif; 
 font-family: "Zilla Slab", serif;
*/
}

@media screen and (max-width: 1151px) {
  /* Link encobrindo todo elemento */
  .Carroseul a {
    text-decoration: none;
  }
  .Carroseul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;

    max-width: 700px;
    height: 100%;
    max-height: 500px;
    margin: 0;
    background-color: #4b4a50;
    box-shadow: inset 0px 0px 15px rgb(0, 0, 0);
  }

  /* Recebe <a> + <p> */
  .Carroseul nav {
    display: flex;

    justify-content: center;

    width: 80%;
    margin: 0px 0px 0px 0px;
    gap: 5px;
  }

  .Carroseul nav p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 45px;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    background-color: #9b0202;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.486),
      inset 0px 0px 6px rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    transition: 0.3s ease;
  }
  .Carroseul nav p:hover {
    transform: scale(1.1);
  }

  .Carroseul ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px !important;
    width: auto !important;
  }

  /* Recebe img e section (Nome e Valor) */
  .Carroseul div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 300px;
    margin: auto;
    padding: 0px 0px;
    background-image: linear-gradient(to right, #9b0202, #630808);
    border: 1px solid white;
  }

  /* Imagem */
  .Carroseul div img {
    transform: scale(1.2);
    border-radius: 10px;
    border-right: 2px solid white;
    border-left: 2px solid white;
  }

  /* Encobre Valor e Nome */
  .Carroseul section {
    display: flex;
    flex-direction: column;
    width: 20vw !important;
    max-width: 300px;
    height: 95%;
    margin: 0px 0px 0px 35px;
    background-color: #1d1c21;
    border-radius: 10px;
  }

  /* Nome */
  .Carroseul section p {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    height: auto;
    padding: 20px 0px;
    font-size: 1.4rem !important;
    color: rgb(255, 255, 255);
    background-color: #9b0202;
    box-shadow: inset 0px 0px 15px black;
    font-family: "Protest Strike", serif;
    flex-wrap: nowrap;
    text-shadow: 0px 0px 10px white;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid white;
  }

  /* Valor */
  .Carroseul section h3 {
    height: 50px;
    margin: 0;
    font-size: 4vw !important;

    color: white;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0px 0px 5px white;
  }
  .Carroseul section a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    margin: 0 !important;
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: #e1c000;
    box-shadow: 0px 0px 7px white;
    font-family: "Bebas Neue", sans-serif;
    border-radius: 5px;
    text-shadow: 0px 0px 2px white;
    transition: 0.3s ease;
  }
  .Carroseul section a:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px white;
    text-shadow: 0px 0px 4px white;
  }
  /* Fontes importadas
font-family: "Plus Jakarta Sans", sans-serif;
font-family: "Bebas Neue", sans-serif;
font-family: "Jura", sans-serif;
font-family: "Protest Strike", serif;
font-family: "Courier Prime", serif; 
font-family: "Zilla Slab", serif;
*/
}
@media screen and (max-width: 720px) {
  /* Link encobrindo todo elemento */
  .Carroseul a {
    text-decoration: none;
  }
  .Carroseul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    padding: 0px 10px;
    max-width: 720px;
    height: 100%;
    max-height: 600px;
    margin: 0;
    background-color: #4b4a50;
    box-shadow: inset 0px 0px 15px rgb(0, 0, 0);
  }

  /* Recebe <a> + <p> */
  .Carroseul nav {
    display: flex;

    justify-content: center;

    width: 80%;
    margin: 0px 0px 0px 0px;
    gap: 8px;
  }

  .Carroseul nav p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 45px;
    font-size: 3vw;
    font-weight: bold;
    color: white;
    background-color: #9b0202;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.486),
      inset 0px 0px 6px rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    transition: 0.3s ease;
  }
  .Carroseul nav p:hover {
    transform: scale(1.1);
  }

  .Carroseul ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px !important;
    width: auto !important;
  }

  /* Recebe img e section (Nome e Valor) */
  .Carroseul div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-height: auto;
    height: 700px;
    margin: auto;
    padding: 0px 0px;
    background-image: linear-gradient(to right, #9b0202, #630808);
    border: 1px solid white;
  }

  /* Imagem */
  .Carroseul div img {
    transform: scale(1.67);
    z-index: 1;
    border-radius: 17px;
    margin: 4px 0px 4px 0px;
  }

  /* Encobre Valor e Nome */
  .Carroseul section {
    display: flex;
    flex-direction: column;
    width: 60vw !important;
    z-index: 2;
    max-width: 700px;
    height: 95%;
    margin: 0 !important;
    background-color: #1d1c21;
    border-radius: 10px;
  }

  /* Nome */
  .Carroseul section p {
    display: flex !important;

    justify-content: center;
    align-items: center;
    width: 100% !important;
    height: auto;
    padding: 20px 0px;
    font-size: 1.4rem !important;
    color: rgb(255, 255, 255);
    background-color: #9b0202;
    box-shadow: inset 0px 0px 15px black;
    font-family: "Protest Strike", serif;
    flex-wrap: nowrap;
    text-shadow: 0px 0px 10px white;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid white;
  }

  /* Valor */
  .Carroseul section h3 {
    height: 50px;
    margin: 10px 0px 0px 0px;
    font-size: 8vw !important;

    color: white;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0px 0px 5px white;
  }
  .Carroseul section a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    margin: 0 !important;
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: #e1c000;
    box-shadow: 0px 0px 7px white;
    font-family: "Bebas Neue", sans-serif;
    border-radius: 5px;
    text-shadow: 0px 0px 2px white;
    transition: 0.3s ease;
  }
  .Carroseul section a:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px white;
    text-shadow: 0px 0px 4px white;
  }
  /* Fontes importadas
font-family: "Plus Jakarta Sans", sans-serif;
font-family: "Bebas Neue", sans-serif;
font-family: "Jura", sans-serif;
font-family: "Protest Strike", serif;
font-family: "Courier Prime", serif; 
font-family: "Zilla Slab", serif;
*/
}
