.PageNotFound {
  display: flex;
  color: white;
  flex-direction: column;
  font-size: 3rem;
  text-align: center;
  align-items: center;
}
.PageNotFound a {
  font-size: 1.6rem;
  color: rgb(107, 6, 6);
  transition: 0.3s ease;
}
.PageNotFound a:hover {
  transform: scale(1.05);
}
