@media screen and (max-width: 325px) {
  .Categoria h1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 0.5rem !important;
  }
  .Categoria h1 span p {
    width: 200px !important;
    font-size: 1rem;
  }
  .Categoria h1 nav p {
    overflow: hidden;
    white-space: nowrap !important;
    width: 60px;
  }
  .Categoria h1 nav {
    display: grid;
    flex-direction: column;
    width: 100px !important;
    width: auto;
    max-width: 100px !important;
    max-width: 680px;

    grid-template-columns: 60px 70px;
    gap: 5px;
    min-width: 150px;
    justify-items: center;
  }
}
@media screen and (min-width: 910px) {
  .Categoria h1 {
    padding-left: 0 !important;
  }
}
@media screen and (min-width: 900px) {
  .Categoria nav {
    width: auto;
    max-width: 750px;
  }
}

@media screen and (min-width: 766px) and (max-width: 799px) {
  .Categoria div {
    gap: 23px;
    padding-left: 0;
    justify-content: center;
  }

  .Categoria nav {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    max-width: 555px;
    margin: auto;
    gap: 9px;
  }

  .Categoria nav p {
    width: 100px;
    height: 20px;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .Categoria h1 {
    padding: 20px 0px 20px 70px;
  }
}
@media screen and (max-width: 405px) {
  .Categoria h1 {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  .Categoria h1 p {
    width: 300px;
  }
}
@media screen and (max-width: 568px) and (min-width: 406px) {
  .Categoria h1 {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  .Categoria h1 p {
    width: 300px;
  }
}
@media screen and (max-width: 568px) {
  .Categoria nav {
    display: grid;
    grid-template-columns: 60px 20px;
    width: auto;
    max-width: 680px;
    gap: 5px;
    min-width: 250px;
    justify-items: center;
  }

  .Categoria nav p {
    width: 100px;
    height: 20px;

    font-size: 0.7rem;
  }
  .Categoria nav p:nth-of-type(5) {
    grid-column: span 2;
  }
  .Categoria div {
    row-gap: 0;
    justify-content: center;
    margin-inline: 10px;
  }

  .Categoria p {
    width: 200px;
    font-size: 1.3rem;

    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media screen and (max-width: 700px) {
  .Categoria nav {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    max-width: 600px;
    margin: auto;
    gap: 9px;
  }
}
@media screen and (min-width: 569px) and (max-width: 765px) {
  .Categoria div {
    gap: 0px;
    padding-left: 14%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Categoria nav {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    max-width: 600px;
    margin: auto;
    gap: 9px;
  }
  .Categoria nav p {
    width: 70px;
    height: 20px;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .Categoria h1 {
    padding: 20px 20px 20px 20px;
  }
}
@media screen and (min-width: 901px) {
  .Categoria h1 {
    padding: 20px 0px 20px 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  .Categoria h1 {
    padding: 20px 20px 20px 10px;
  }
}
@media screen and (min-width: 767px) {
  .Categoria {
    padding-left: 50px;
  }
  .Categoria nav {
    display: flex;
    justify-content: space-evenly;
  }

  .Categoria nav p {
    width: 120px;
    height: 26px;
    font-size: 1.1rem;
  }
  .Categoria div {
    justify-content: flex-start;
    padding: 0px 50px 40px 50px;
    row-gap: 5px;
    column-gap: 30px;
  }
}

.Categoria {
  width: auto;
  margin: 10px;
  color: white;
  background-color: #1d1c21 !important;
  box-shadow: inset 5px 3px 20px 1px black;
  border-radius: 50px;
  border: 2px solid #eee5e9;
  margin-bottom: 400px;
}

.Categoria div {
  display: flex;

  flex-wrap: wrap;
}

.Categoria h1 {
  justify-content: center;

  margin: 0;
  font-size: 2em;
  font-weight: 700;
  background-color: transparent;

  font-family: sans-serif;
  font-style: italic;
  text-shadow: 4px 6px 12px rgba(255, 255, 255, 0.329);
}

.Categoria nav {
  justify-content: space-evenly;
  padding: 0;
  color: #ffffff;
  text-align: center;
  background-color: #111215;
  box-shadow: inset 5px 4px 8px #000000b5;
  border: 1px solid white;
  flex-wrap: wrap;
  padding-top: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.Categoria nav p {
  background-color: #9b0202;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 6px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px 0px #000000e8;
  transition: 0.7s ease;
  cursor: pointer;
}

.Categoria nav p:hover {
  color: #ffffff;
  transform: scale(1.2);
}

.Categoria nav p:active {
  background-color: #641e0e;
  transform: scale(1.2);
  transition: none;
}
