@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Jura:wght@300..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Protest+Strike&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Jura:wght@300..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Protest+Strike&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@media screen and (min-width: 1141px) {
  .Banner {
    background-size: 1960px;
    background-position: center 63%;
  }
}
@media screen and (max-width: 1140px) {
  .Banner {
    background-size: 1150px;
    background-position: bottom;
  }
}

.Banner {
  display: flex;
  background-image: url("/public/pic/banner.jpg");
  width: 100%;
  height: 347px;
  top: 75px;
  background-repeat: no-repeat;
  align-items: flex-end;
  border-bottom: 2px solid white;
  animation: mudar 40s step-start infinite;
}

@keyframes mudar {
  0% {
    background-image: url("/public/pic/banner.jpg");
  }
  50% {
    background-image: url("/public/pic/banner2.png");
  }
  100% {
    background-image: url("/public/pic/banner.jpg");
  }
}

.Banner div {
  display: flex;
  position: sticky;
  width: 100%;
  top: 70px;
  flex-direction: row-reverse;
}
.Banner div input {
  width: 16rem;
  height: 2.2rem;
  margin-right: 24px;
  margin-top: 8px;
  background-color: #eee5e9;
  color: #121113;
  border: 2px solid rgb(29, 0, 134);
  border-radius: 5px 5px 10px 10px;
  box-shadow: 4px 4px 11px 1px rgba(0, 0, 0, 0.096);
  transition: 1 ease;
}

.Banner div input:hover {
  box-shadow: inset 4px 4px 8px 1px rgba(0, 0, 0, 0.233);
}
.Banner h2 {
  cursor: default;
}

.Banner div input::placeholder {
  color: rgb(0, 0, 0);
  padding-left: 3px;
}
@media screen and (min-width: 860px) {
  .Banner h2 {
    background-color: #001c39;
    justify-content: end;
    width: auto;
    border-top: solid 2px white;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    display: flex;

    padding: 4px 15px 4px 35px;
    border-radius: 0px 15px 15px 0px;
    color: rgb(121, 15, 15);
    font-family: "Protest Strike", serif;
    font-size: 3rem;
  }
}
@media screen and (max-width: 859px) {
  .Banner h2 {
    display: none;
  }
}
